@import url(../css/base.css);
@import url(../css/fonts.css);
:root {
  --trans: all 0.3s ease-out;
  --color_black: #101010;
  --color_black_10: #1010101A;
  --color_white: #FFFFFF;
  --color_green_400: #0C998C;
  --color_green_500: #0A8075;
  --color_pure_400: #FFEDDE;
  --color_pure_500: #E5D5C8;
  --color_red_400: #FF6F61;
  --color_red_500: #E56457;
}

.header {
  position: fixed;
  top: 20px;
  z-index: 100;
  width: 100%;
}
.header-container {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.0509803922);
  background-color: #fff;
  border-radius: 32px;
  margin: 0px 40px;
}
.header-info {
  padding: 12px;
  padding-left: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header-left .logo {
  padding-right: 16px;
}
.header-left .header-line {
  width: 1px;
  height: 20px;
  background-color: var(--colours-neutrals-black-100, rgba(16, 16, 16, 0.1019607843));
}
.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.header nav {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header nav .header-list {
  display: flex;
  align-items: center;
}
.header-item {
  padding: 10px 16px;
}
.header-item:has(.header-link:focus-visible) {
  outline: 1px solid #0A8075;
  border-radius: 22px;
}
.header-cart-count {
  color: var(--colours-neutrals-black-500, rgba(16, 16, 16, 0.5019607843));
  font-size: 12.6px;
}

.header-link {
  color: #101010;
  position: relative;
  display: inline-flex;
  gap: 4px;
}
.header-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #101010;
  transition: width 0.35s;
}
.header-link:hover::before, .header-link.selected::before {
  width: 100%;
}
.header-link:active::before {
  width: 100%;
  transform: scale(0.9);
}
.header-link:focus-visible {
  outline: none;
}

.burger-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #101010;
  border-radius: 20px;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.burger-icon div {
  width: 14px;
  height: 1px;
  background-color: #101010;
  transition: all 0.3s ease;
}
.burger-icon.active .line1 {
  transform: rotate(-45deg) translate(-3.4px, 4.3px);
}
.burger-icon.active .line2 {
  opacity: 0;
}
.burger-icon.active .line3 {
  transform: rotate(45deg) translate(-2.8px, -3.5px);
}

.burger-menu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.burger-menu .burger-container {
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.burger-menu .header-line {
  width: 100%;
  height: 1px;
  background-color: rgba(16, 16, 16, 0.1019607843);
}
.burger-menu.active {
  max-height: 280px;
  overflow: visible;
}

@media (max-width: 1019px) {
  .burger-icon {
    display: flex;
  }
  .header {
    top: 10px;
  }
  .header-container {
    margin: 0 10px;
  }
  .header-left .header-line, .header nav {
    display: none;
  }
}
.backet {
  border: none;
  cursor: pointer;
  background: transparent;
}
.backet .mob {
  display: none;
}

.h__right a,
.backet {
  display: flex;
  align-items: center;
  justify-content: center;
}
.h__right a svg path,
.backet svg path {
  transition: var(--trans);
}
.h__right a svg circle,
.backet svg circle {
  transition: var(--trans);
}
.h__right a:hover svg path,
.backet:hover svg path {
  fill: #d1c1a8;
  stroke: #d1c1a8;
}
.h__right a:hover svg circle,
.backet:hover svg circle {
  fill: #d1c1a8;
  stroke: #d1c1a8;
}

@media (max-width: 1150px) {
  .backet .mob {
    display: block;
  }
  .backet .desk {
    display: none;
  }
}